<div class="layout-column align-items-center mt-50">
  <section class="layout-row align-items-center justify-content-center">
    <input type="number"  [(ngModel)]="yearInput" class="large" placeholder="Enter Year eg 2015"
           data-test-id="app-input"/>
    <button class="" data-test-id="submit-button" (click)="getMovieList()">Search</button>
  </section>

  <ul class="mt-50 styled" data-test-id="movieList" [hidden]="!isMovieList" *ngFor="let item of movies">
    <li class="slide-up-fade-in py-10">{{item.Title}}</li>
  </ul>

  <div class="mt-50 slide-up-fade-in" *ngIf="!isMovieList"
       data-test-id="no-result">No Result Found</div>
</div>


  <!-- <ul class="mt-50 styled" data-test-id="movieList" [hidden]="!isMovieList" *ngFor="let item of movies">
    <li class="slide-up-fade-in py-10">{{item.Title}}</li>
  </ul>

  <div class="mt-50 slide-up-fade-in" [hidden]="isMovieList"
       data-test-id="no-result">No Result Found</div>
</div> -->
